n8n/session-reminder-workflow.json
{
  "name": "ClearPath session reminder – SMS or email coach and client",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 320],
      "notes": "Runs daily at 6am. Adjust timezone in n8n settings."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://YOUR_APP_URL/api/sessions/upcoming",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_N8N_SESSION_REMINDER_SECRET"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-upcoming",
      "name": "Fetch upcoming sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 320],
      "notes": "Replace YOUR_APP_URL. Add env var N8N_SESSION_REMINDER_SECRET or use Header Auth credential."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-sessions",
              "leftValue": "={{ $json.sessions && Array.isArray($json.sessions) && $json.sessions.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-sessions",
      "name": "Has sessions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "jsCode": "const sessions = $input.first().json.sessions || [];\nreturn sessions.map(s => ({ json: s }));"
      },
      "id": "expand-sessions",
      "name": "Expand sessions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "coach-phone",
              "leftValue": "={{ $json.coach_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-coach-phone",
      "name": "Coach has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 80],
      "notes": "True: send SMS. False: send email."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "client-phone",
              "leftValue": "={{ $json.client_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-client-phone",
      "name": "Client has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 260],
      "notes": "True: send SMS. False: send email."
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "to": "={{ $json.coach_phone }}",
        "message": "Reminder: Session with {{ $json.client_name }} at {{ $json.scheduled_time }}",
        "from": "YOUR_TWILIO_NUMBER",
        "options": {}
      },
      "id": "sms-coach",
      "name": "SMS coach",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1360, 0],
      "notes": "Replace YOUR_TWILIO_NUMBER. Add Twilio credentials."
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "to": "={{ $json.client_phone }}",
        "message": "Reminder: Your session with {{ $json.coach_name }} at {{ $json.scheduled_time }}",
        "from": "YOUR_TWILIO_NUMBER",
        "options": {}
      },
      "id": "sms-client",
      "name": "SMS client",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1360, 180],
      "notes": "Replace YOUR_TWILIO_NUMBER. Add Twilio credentials."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SMTP_FROM_EMAIL",
        "toEmail": "={{ $json.coach_email }}",
        "subject": "Reminder: Session with {{ $json.client_name }} in 24h",
        "text": "Session reminder.\n\nClient: {{ $json.client_name }}\nTime: {{ $json.scheduled_time }}\n\nSession ID: {{ $json.session_id }}",
        "options": {}
      },
      "id": "email-coach",
      "name": "Email coach",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [1360, 80],
      "notes": "Fallback when coach has no phone. Replace YOUR_SMTP_FROM_EMAIL. Configure SMTP credentials."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SMTP_FROM_EMAIL",
        "toEmail": "={{ $json.client_email }}",
        "subject": "Reminder: Your session with {{ $json.coach_name }} is tomorrow",
        "text": "Your session is coming up.\n\nCoach: {{ $json.coach_name }}\nTime: {{ $json.scheduled_time }}\n\nSession ID: {{ $json.session_id }}",
        "options": {}
      },
      "id": "email-client",
      "name": "Email client",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [1360, 260],
      "notes": "Fallback when client has no phone. Replace YOUR_SMTP_FROM_EMAIL. Configure SMTP credentials."
    }
  ],
  "connections": {
    "Daily 6am": {
      "main": [
        [
          {
            "node": "Fetch upcoming sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch upcoming sessions": {
      "main": [
        [
          {
            "node": "Has sessions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has sessions?": {
      "main": [
        [
          {
            "node": "Expand sessions",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Expand sessions": {
      "main": [
        [
          {
            "node": "Coach has phone?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Client has phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coach has phone?": {
      "main": [
        [
          {
            "node": "SMS coach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email coach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client has phone?": {
      "main": [
        [
          {
            "node": "SMS client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
