n8n/session-booked-workflow.json
{
  "name": "ClearPath session booked & reminder – SMS or email coach and client",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "session-booked",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": ""
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "coach-phone",
              "leftValue": "={{ $json.coach_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-coach-phone",
      "name": "Coach has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 180],
      "notes": "True: send SMS. False: send email."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "client-phone",
              "leftValue": "={{ $json.client_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-client-phone",
      "name": "Client has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 460],
      "notes": "True: send SMS. False: send email."
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "to": "={{ $json.coach_phone }}",
        "message": "={{ ($json.type === 'reminder' ? 'Reminder: Session with ' : 'Session booked with ') + ($json.client_name || 'client') + ' at ' + $json.scheduled_time }}",
        "from": "YOUR_TWILIO_NUMBER",
        "options": {}
      },
      "id": "sms-coach",
      "name": "SMS coach",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [720, 80],
      "notes": "Replace YOUR_TWILIO_NUMBER (e.g. +15551234567). Add Twilio credentials in n8n."
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "to": "={{ $json.client_phone }}",
        "message": "={{ ($json.type === 'reminder' ? 'Reminder: Your session with ' : 'Your session with ') + ($json.coach_name || 'coach') + ($json.type === 'reminder' ? ' at ' : ' is confirmed at ') + $json.scheduled_time }}",
        "from": "YOUR_TWILIO_NUMBER",
        "options": {}
      },
      "id": "sms-client",
      "name": "SMS client",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [720, 360],
      "notes": "Replace YOUR_TWILIO_NUMBER. Add Twilio credentials."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SMTP_FROM_EMAIL",
        "toEmail": "={{ $json.coach_email }}",
        "subject": "Session booked with {{ $json.client_name }}",
        "text": "A session has been booked.\n\nClient: {{ $json.client_name }}\nTime: {{ $json.scheduled_time }}\n\nSession ID: {{ $json.session_id }}",
        "options": {}
      },
      "id": "email-coach",
      "name": "Email coach",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [720, 280],
      "notes": "Fallback when coach has no phone. Replace YOUR_SMTP_FROM_EMAIL. Configure SMTP credentials."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SMTP_FROM_EMAIL",
        "toEmail": "={{ $json.client_email }}",
        "subject": "={{ ($json.type === 'reminder' ? 'Reminder: Your session with ' : 'Your session with ') + ($json.coach_name || 'coach') + ($json.type === 'reminder' ? ' is tomorrow' : ' is confirmed') }}",
        "text": "={{ ($json.type === 'reminder' ? 'Your session is coming up.' : 'Your session is confirmed.') + '\\n\\nCoach: ' + ($json.coach_name || 'coach') + '\\nTime: ' + $json.scheduled_time + '\\n\\nSession ID: ' + $json.session_id }}",
        "options": {}
      },
      "id": "email-client",
      "name": "Email client",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [720, 560],
      "notes": "Fallback when client has no phone. Replace YOUR_SMTP_FROM_EMAIL. Configure SMTP credentials."
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Coach has phone?", "type": "main", "index": 0 },
          { "node": "Client has phone?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Coach has phone?": {
      "main": [
        [
          { "node": "SMS coach", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email coach", "type": "main", "index": 0 }
        ]
      ]
    },
    "Client has phone?": {
      "main": [
        [
          { "node": "SMS client", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email client", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
