n8n/session-reminder-on-demand-workflow.json
{
  "name": "ClearPath session reminder – on-demand webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "session-reminder-on-demand",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (on-demand reminder)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "notes": "App posts a single session object here when coach clicks Remind."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "coach-phone",
              "leftValue": "={{ $json.coach_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-coach-phone",
      "name": "Coach has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 160],
      "notes": "True: send SMS. False: send email."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "client-phone",
              "leftValue": "={{ $json.client_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-client-phone",
      "name": "Client has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 480],
      "notes": "True: send SMS. False: send email."
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "to": "={{ $json.coach_phone }}",
        "message": "Reminder: Session with {{ $json.client_name }} at {{ $json.scheduled_time }}",
        "from": "YOUR_TWILIO_NUMBER",
        "options": {}
      },
      "id": "sms-coach",
      "name": "SMS coach",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [820, 40],
      "notes": "Replace YOUR_TWILIO_NUMBER. Add Twilio credentials."
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "to": "={{ $json.client_phone }}",
        "message": "Reminder: Your session with {{ $json.coach_name }} at {{ $json.scheduled_time }}",
        "from": "YOUR_TWILIO_NUMBER",
        "options": {}
      },
      "id": "sms-client",
      "name": "SMS client",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [820, 360],
      "notes": "Replace YOUR_TWILIO_NUMBER. Add Twilio credentials."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SMTP_FROM_EMAIL",
        "toEmail": "={{ $json.coach_email }}",
        "subject": "Reminder: Session with {{ $json.client_name }}",
        "text": "Session reminder.\n\nClient: {{ $json.client_name }}\nTime: {{ $json.scheduled_time }}\n\nSession ID: {{ $json.session_id }}",
        "options": {}
      },
      "id": "email-coach",
      "name": "Email coach",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [820, 160],
      "notes": "Fallback when coach has no phone. Replace YOUR_SMTP_FROM_EMAIL. Configure SMTP credentials."
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SMTP_FROM_EMAIL",
        "toEmail": "={{ $json.client_email }}",
        "subject": "Reminder: Your session with {{ $json.coach_name }}",
        "text": "Your session is coming up.\n\nCoach: {{ $json.coach_name }}\nTime: {{ $json.scheduled_time }}\n\nSession ID: {{ $json.session_id }}",
        "options": {}
      },
      "id": "email-client",
      "name": "Email client",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [820, 480],
      "notes": "Fallback when client has no phone. Replace YOUR_SMTP_FROM_EMAIL. Configure SMTP credentials."
    }
  ],
  "connections": {
    "Webhook (on-demand reminder)": {
      "main": [
        [
          {
            "node": "Coach has phone?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Client has phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coach has phone?": {
      "main": [
        [
          {
            "node": "SMS coach",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email coach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client has phone?": {
      "main": [
        [
          {
            "node": "SMS client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}

